<?php include_once '/Public/head.html'; ?>
<div class="content">
    <div class="content_head"></div>
    <!--<div class="content_slide"></div>-->
    <section id="content_slide">
        <div class="box">
            <div class="div_table div_tableAdd"><h2>添加学期教学计划</h2>
                <form action="__ACTION__" enctype="multipart/form-data" method="post" name="theForm">
                    <table width="60%" class="table teachAdd">
                        <tr>
                            <td class="teachAdd_left">标题:</td>
                            <td class="teachAdd_right">
                                <input type="text" name="title" id="" value=""/>
                            </td>
                        </tr>
                        <tr>
                            <td class="teachAdd_left teachAdd_left5">内容:</td>
                            <td class="teachAdd_right teachAdd_right5">
                                <textarea name="content" id="" cols="30" rows="10"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="teachAdd_left">作者:</td>
                            <td class="teachAdd_right">
                                <input type="text" name="author" id="" value=""/>
                            </td>
                        </tr>
                        <tr>
                            <td class="teachAdd_left">专业:</td>
                            <td class="teachAdd_right4">
                                <select name="profession_id" onchange="erji(this.value)">
                                    <option value="">请选择：</option>
                                    <?php foreach($professionData as $v){ ?>
                                    <option value="<?php echo $v['id'];?>"><?php echo $v['profession'];?></option>
                                    <?php } ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="teachAdd_left">班级:</td>
                            <td class="teachAdd_right4">
                                <select name="class_id">
                                    <option value="">请选择：</option>
                                    <?php foreach($data as $v){ ?>
                                    <option value="<?php echo $v['id'];?>"><?php echo $v['class'];?></option>
                                    <?php } ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="teachAdd_left">学期:</td>
                            <td class="teachAdd_right4">
                                <select name="semester_id">
                                    <option value="">请选择：</option>
                                    <?php foreach($data as $v){ ?>
                                    <option value="<?php echo $v['id'];?>"><?php echo $v['semester'];?></option>
                                    <?php } ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="teachAdd_left">课程:</td>
                            <td class="teachAdd_right4">
                                <select name="class_id">
                                    <option value="">请选择：</option>
                                    <?php foreach($data as $v){ ?>
                                    <option value="<?php echo $v['id'];?>"><?php echo $v['class'];?></option>
                                    <?php } ?>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <span class="table_clear" onclick="table_submit()">提交</span>
                    <span class="table_submit" onclick="back()">返回</span>
                </form>
            </div>
        </div>
    </section>
</div>

<div class="clear"></div>

</body>
<script>
    //二级联动
    function erji(o){
        $.ajax({
            type:'get',
            data:{id:o},
            url:'<?php U("get_sourse")',
            success:function(msg){
                alert(msg);
            }

        });
        var data={id:o};

    }
    function table_submit() {
        $('form').submit();
    }

    function back() {
        window.location.href = "<?php echo U('showSemesterPlan');?>";
    }
</script>

<link rel="stylesheet" type="text/css" href="/Public/css/index.css"/>
<!--</html>-->


